@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 228, 196, 0.259);
}

form{
    height: 100vh
}


@keyframes shiftLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes shiftRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes transformRotLeft {
    0% {
        transform: translateX(100%) rotate(0deg);
    }
    100% {
        transform: translateX(0%) rotate(90deg);
    }
}

@keyframes transformRotRight {
    0% {
        transform: translateX(-100%) rotate(90deg);
    }
    100% {
        transform: translateX(0%) rotate(0deg);
    }
    
}


.widthTransitionLeft {
    animation: shiftLeft 0.2s ease-in-out;
}

.widthTransitionRight {
    animation: shiftRight 0.2s ease-in-out;
}


.toggleTrasformRight {
    animation: transformRotLeft 0.8s ease-in-out;
}

.toggleTrasformLeft {
    animation: transformRotRight 0.8s ease-in-out;
}
